[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tools/dmenu"]
	path = tools/dmenu
	url = https://git.suckless.org/dmenu
[submodule "tools/dwm"]
	path = tools/dwm
	url = https://git.suckless.org/dwm
