#define foreground #dcdccc
#define foreground_faint foreground
#define background #2c2c2c
#define orange_intense	#f0dfaf
#define orange		#dfaf8f
#define red_intense    	#dca3a3
#define red		#705050
#define black_intense   #709080
#define black		#3f3f3f
#define blue_intense    #94bff3
#define blue		#9ab8d7
#define pink_intense	#ec93d3
#define pink		#dc8cc3
#define cyan_intense   	#93e0e3
#define cyan		#8cd0d3
#define green_intense	#72d5a3
#define green		#60b48a
#define white_intense	#ffffff
#define white		#dcdccc

*background:            background
*foreground:            foreground
*fading:                40
*fadeColor:             foreground
*cursorColor:           foreground

!! black dark/light
*color0:                black_intense
*color8:                black

!! red dark/light
*color1:                red_intense
*color9:                red

!! green dark/light
*color2:                green_intense
*color10:               green

!! orange dark/light
*color3:                orange_intense
*color11:               orange

!! blue dark/light
*color4:                blue_intense
*color12:               blue

!! magenta dark/light
*color5:                pink_intense
*color13:               pink

!! cyan dark/light
*color6:                cyan_intense
*color14:               cyan

!! white dark/light
*color7:                white_intense
*color15:               white
